// @import './components/Timeline/Timeline.scss';
//  Poor man's normalization
html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(250, 250, 250);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//  Sticky Footer
#body {
  // display: flex;
  min-height: 100vh;
  // flex-direction: column;
}
#chat {
  // flex: 1;
  position: relative;
  max-width: 960px;
  height: calc(100% - 64px);
  overflow-y: auto;
  margin: 0 auto;
  padding-bottom: 72px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0 16px;
  background-color: rgb(69, 90, 100);
  color: white;
}
@media only screen and (min-width: 1024px) {
  footer {
    width: 960px;
  }
}

@media only screen and (min-width: 1024px) {
  article .header {
    margin: 0 16px 0;
  }
}
